build/
shaders/gears.frag.h
shaders/gears.vert.h
shaders/sky_plane_equirect.frag.h
shaders/sky_plane_equirect.vert.h
textures/rooftop_night_4k_tonemapped.png.ktx.h

.vscode/
build*/
textures/*.ktx.h

# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/

OpenXR/

gtkdoc/
