# SPDX-FileCopyrightText: 2023, Pluto VR, Inc.
#
# SPDX-License-Identifier: CC0-1.0

[submodule "monado"]
	path = monado
	url = ../linux-streaming-monado.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
