.vs/
.vscode/
out/

cmake-build-*/
build/
builddir/
deps/

CMakeSettings.json

patches/
__pycache__/

.cache/
.cxx/
local.properties

.*
!.clang-format
!.clang-tdy
!.cmake-format
!.gitignore
!.gitmodules
